/*
     public style
  **********************
*/
body{
    Font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Barlow Semi' Condensed; */
    background-color: hsl(210, 46%, 95%);
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
/*
content  style
**********************
*/
.container{
    width: 90%;
    margin: auto;
    padding: 10% 0;
}
.testi-content{
    display: grid;
    grid-template-columns: repeat(8 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    grid-gap: 20px;
     padding: 30px;
}
.lite-text{
    opac
}
.name-info{
    opacity:.7;
}
.grid-item{
    padding: 30px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
.grid-item-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 200px;

}
.name{
    font-weight: bold;
}
.bold-text{
    margin: 20px 0;
}
.item-img img{
 border-radius: 50%;
 -webkit-border-radius: 50%;
 -moz-border-radius: 50%;
 -ms-border-radius: 50%;
 -o-border-radius: 50%;
}
.Daniel{
    background-color: hsl(263, 55%, 52%);
    background-image: url(../images/bg-pattern-quotation.svg);
    background-position: right top;
    background-repeat: no-repeat;
    color: hsl(0, 0%, 100%);
    grid-column: 1 /5;
    grid-row: 1/2;
}


.Jonathan{
    background-color: hsl(0, 0%, 81%);
    background-color: hsl(217, 19%, 35%);
     grid-column: 5/7;
    grid-row: 1/2;
    color: hsl(0, 0%, 100%);
}

.Kira{
    background-color: hsl(0, 0%, 100%);
    grid-column: 7 /9;
    grid-row: 1/3;
}
.Patrick{
    background-color: hsl(219, 29%, 14%);
    color: hsl(0, 0%, 100%);
    grid-column: 3 /7;
    grid-row: 2/3;
}
.Jeanette {
background-color: hsl(0, 0%, 100%);
    grid-column: 1 /3;
    grid-row: 2/3;
}
/*  media quary style */
@media (max-width:575px){
    .testi-content{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8 , auto);
    grid-gap: 10px;
     padding: 40px;
}
.grid-item{
grid-column: 1/2;
}
.Daniel{
    grid-row: 1/3;
}
.Jonathan{
    grid-row: 3/4;
}
.Kira{
    grid-row: 4/5;
}
    .Patrick{
        grid-row: 5/7;
    }
    
.Jeanette{
    grid-row: 7/9;

}
}







/*           media quary style
    ***************************************
        //extra small devices @media (maxwidth:575px)
        //small devices @media (maxwidth:767px)
        //medium devices @media (maxwidth:991px)
        //large devices @media (maxwidth:1199px)
*/ 